"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    autoIndentOnPaste: false
    fontSize: 12
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "wrap-guide"
      "linter-flake8"
    ]
  minimap: {}
  welcome:
    showOnStartup: false
  linter: {}
  "linter-flake8":
    executableDir: "/usr/local/bin"
    ignoreErrorCodes: [
      "E111"
    ]
  "exception-reporting":
    userId: "ff13ef6b-6826-6632-b223-392769c419f1"
  pigments: {}
  "multi-wrap-guide":
    locked: true
".basic.html.text":
  editor:
    tabLength: 2
".null-grammar.plain.text":
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    rows: []
  editor:
    preferredLineLength: 120
".python.source":
  editor:
    tabLength: 2
".json.source":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
  "linter-jsonlint":
    jsonlintExecutablePath: "/usr/local/bin"
