"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    softWrap: true
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  minimap: {}
  welcome:
    showOnStartup: false
  linter: {}
  "linter-flake8":
    executableDir: "/usr/local/bin"
  "exception-reporting":
    userId: "ff13ef6b-6826-6632-b223-392769c419f1"
".js.source":
  editor:
    tabLength: 2
